{% extends 'main.html' %}

{% block title %}
<title>Home</title>

{% endblock title %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert">
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Home Page</h1>
<div class="row mb-2">
{% for reservation in data %}
<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Enquiry Details</strong>
        <h5 class="mb-0">Enquiry by {{current_user.username}}</h5>
        <h3 class="mb-1 text-muted"> {{reservation.details}} </h3>
        <p class="card-text mb-auto">{{reservation.location}}</p>
        <p class="mb-1 text-muted"> {{reservation.pub_date}} </p>
      </div>
    </div>
  </div>

{% endfor %}
</div>
{% endblock body %}

